<div class="col-12">
    <h1 class="text-center">Edit the Post</h1>
    <div class="col-10 mx-auto m-4">
        <%= render 'design' %>

        <div class="col-3 mx-auto" style="position:relative; top:20vh;" onclick="chang()">
            <%= render 'form', post: @post %>
        </div>
    </div>
</div>

